*/venv
__pycache__
.vscode

#
# Estas líneas son para la P1.
#
P1/user/users.txt
P1/file/*
!P1/file/Dockerfile
!P1/file/.dockerignore
!P1/file/file.py
!P1/file/requirements.txt

#
# Estas líneas son para la P2.
#
P2/db_data
**.pdf
P2/material_inicial
P2/memoriaP2.odt